
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*-- scss:defaults --*/
$font-family-lato: "Lato", sans-serif !default;
$font-color-body: #404040 !default;
$font-color-h1: #CA225E !default;
$font-color-h2: #1A162D !default;
$font-color-h3: #1A162D90 !default;
$subtitle-color: #CA225E !important;
$author-color: #1A162D !important;
$headings-font-weight: 500 !default;

/*-- scss:rules --*/
body {
    font-family: $font-family-lato;
    color: $font-color-body;
}

h1, h2, h3, h4 {
    font-family: $font-family-lato;
    font-weight: normal;
}

h1 {
  color: $font-color-h1;
  font-size: 38px !important;
  margin-top: 10px;
  margin-bottom: 40px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-size: 1.2em;
  color: $font-color-h2;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3, h4 {
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-size: 1.1em;
  color: $font-color-h3;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-family: $font-family-lato;
  font-size: 3em !important;
  color: $subtitle-color;
  text-transform: none !important;
}

.subtitle {
  font-family: $font-family-lato;
  color: $subtitle-color;
}

/* --- Code --- */

/*

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg, #f8f8f8 0, #f1f1f1 100%);
}

*/